// Webpage Reset
* {
 	margin: 0;
	padding: 0;
}

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600%7CRoboto:300,400');

$heading: 'Montserrat', Helvetica, sans-serif;
$body: 'Roboto', Arial, sans-serif;

$lightGrey: rgba(0,0,0,.15);
$offWhite: rgba(255,255,255,.7);
// $lightGrey: #c7c7c7;
// $offWhite: #f7f7f7;

body {
	background-color: #E7EBEB;
	font-family: $body;
	font-weight: 300;
}

h2, h3, h4 {
	font-family: $heading;
}

#nicknameCon {
	background-color: #000;
	text-align: center;
	color: #fff;
	padding: 30px;

	h2 {
		font-weight: 300;
		padding: 30px;
		margin-bottom: 15px;
		font-size: 24px;
	}

	input {
		padding: 15px;
		background-color: #000;
		color: #fff;
		border: none;
		border-bottom: 1px solid #fff;
		margin-bottom: 30px;
		width: 400px;
		text-align: center;
		font-size: 20px;
		font-family: $body;
		font-weight: 300;

		&:focus {
			outline: 0;
		}
	}
}

#chatCon {
	background-color: #D2ECFF;
	box-shadow: 1px 3px 10px rgba(0,0,0,.2);
	width: 800px;
	display: block;
	margin: 10px auto;

	h2 {
		font-family: $heading;
		font-weight: 300;
		padding: 15px;
		color: #fff;
		background-color: #4697C9;
	}

	#usersPanel {
		background-color: rgba(255,255,255,.3);
		padding: 15px;
	}

	#messagesPanel {
		padding: 20px;

		#messages {
			list-style-type: none;
			margin: 0;
			padding: 0;
			height: 320px;
			overflow: scroll;

			li {
				padding: 5px 10px;
				background-color: $offWhite;
				float: left;
				clear: both;
				border-radius: 15px;
				margin: 7px;
			}

			li:nth-child(odd) {
				background-color: $lightGrey;
				float: right;
				margin: 7px;
			}
		}

		form {
			padding-top: 20px;

			input {
				border: 0;
				border-radius: 9px;
				padding: 15px;
				width: 600px;
				background-color: rgba(255,255,255,.85);
				color: #333;
				margin-right: 15px;
				font-family: $body;
				font-weight: 300;
				font-size: 12px;

				&:focus {
					outline: 0;
				}
			}

			button {
				background: #555;
				color: #fff;
				border: none;
				padding: 13px;
				width: 100px;
				font-size: 12px;

				&:focus {
					outline: 0;
				}
			}
		}

	}
}
