<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Let's Get Chatting!</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,600%7CRoboto:300,400" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="nicknameCon">
		<h2>What is your nickname?</h2>
		<input type="text" class="nickname">
	</div>
	<div id="chatCon">
		<h2>Chatroom #1</h2>
		<div id="usersPanel">
			<p class="online">Users Online:</p>
			<p class="typing"></p>
		</div>
		<div id="messagesPanel">
			<ul id="messages"></ul>
			<form>
				<input class="message" type="text" id="m" autocomplete="off">
				<button>SEND</button>
			</form>
		</div>
	</div>

	<!--<div id = "error-container"></div>
      <input id = "name" type = "text" name = "name" value = ""
         placeholder = "Enter your name!">
      <button type = "button" name = "button" onclick = "setUsername()">
         Let me chat!
      </button>-->

	<script src="/socket.io/socket.io.js"></script>
	<script src="js/main.min.js"></script>
</body>
</html>
